<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.yecotec.fridgetracker">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".TourActivity"
            android:label="@string/about_us_app_title"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name=".data.FridgeContentProvider"
            android:authorities="com.apps.yecotec.fridgetracker"
            android:exported="true" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/label_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service
            android:name=".services.NotificationService"
            android:exported="false" />

        <receiver android:name=".FoodWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/food_widget_info" />
        </receiver>

        <service
            android:name=".services.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".services.WidgetService"
            android:exported="false"></service>
    </application>

</manifest>